<p id="notice"><%= notice %></p>

<p>
  <strong>Establishment:</strong>
  <%= @restaurant.establishment %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @restaurant.ownername %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @restaurant.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @restaurant.address_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @restaurant.zipcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Restaurant type:</strong>
  <%= @restaurant.restaurant_type %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @restaurant.employees %>
</p>

<p>
  <strong>Revenue type:</strong>
  <%= @restaurant.revenue_type %>
</p>

<p>
  <strong>Marketing:</strong>
  <%= @restaurant.marketing %>
</p>

<p>
  <strong>Marketing budget boolean:</strong>
  <%= @restaurant.marketing_budget_boolean %>
</p>

<p>
  <strong>Marketing budget:</strong>
  <%= @restaurant.marketing_budget %>
</p>

<p>
  <strong>Social media boolean:</strong>
  <%= @restaurant.social_media_boolean %>
</p>

<p>
  <strong>Social media types:</strong>
  <%= @restaurant.social_media_types %>
</p>

<p>
  <strong>Other social media types:</strong>
  <%= @restaurant.other_social_media_types %>
</p>

<p>
  <strong>Online ads boolean:</strong>
  <%= @restaurant.online_ads_boolean %>
</p>

<p>
  <strong>Online ads types:</strong>
  <%= @restaurant.online_ads_types %>
</p>

<p>
  <strong>Other online ads types:</strong>
  <%= @restaurant.other_online_ads_types %>
</p>

<p>
  <strong>Analytics boolean:</strong>
  <%= @restaurant.analytics_boolean %>
</p>

<p>
  <strong>Analytics software:</strong>
  <%= @restaurant.analytics_software %>
</p>

<p>
  <strong>Social ads boolean:</strong>
  <%= @restaurant.social_ads_boolean %>
</p>

<p>
  <strong>Why social ads:</strong>
  <%= @restaurant.why_social_ads %>
</p>

<p>
  <strong>Why social ads other:</strong>
  <%= @restaurant.why_social_ads_other %>
</p>

<p>
  <strong>Ad sites:</strong>
  <%= @restaurant.ad_sites %>
</p>

<p>
  <strong>Other ads sites:</strong>
  <%= @restaurant.other_ads_sites %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
